[packages]
educabiz = "*"
python-dotenv = "*"
python-telegram-bot = {extras = ["webhooks"], version = "*"}

[dev-packages]
ruff = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
