[packages]
python-dotenv = "*"
python-telegram-bot = {extras = ["webhooks"], version = "*"}
educabiz = "*"

[dev-packages]
ruff = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
